body{
    background-color: rgb(0, 0, 0);
    display: flex;
    margin: 0;
}

@font-face {
    font-family: Norse-Bold;
    src: url(/Norse-Bold.otf);
}

.everything{
    display: flex;
    height: 650px;
    margin-top: 10vw;
    width: 100vw;
}

#trees{
    height: 650px;
    width: 350px;
}

.treeLogo{
    position: relative;
}

.logoText{
    position: absolute;
    top: 135px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.373);
    width: 350px;
    height: 100px;
}

.ODIN{
    margin-top: 85px;
    color: white;
    font-size: 4rem;
    font-family: Norse-Bold;
}

#logo{
    width: 60px;
}

.info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(243, 243, 243);
    width: 100vw;
}

.topInfo{
    padding-bottom: 40px;
    padding-left: 30px;
}

.middleInfo{
    background-color: white;
    padding-bottom: 20px;
    box-shadow: 0 2px 2px rgb(218, 218, 218);
}

.form{
    display: flex;
}

input{
    border: 1px solid rgb(242, 242, 242);
    border-radius: 3.5px;
}

input:focus{
    outline: 1px solid blue;
    box-shadow: 0 2px 2px rgb(106, 106, 106);
}

input:invalid{
    outline: 1px solid red;
}

label{
    display: block;
    font-size: 12px;
}

.left{
    padding-left: 3vw;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.right{
    padding-left: 4vw;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.formSentence{
    padding: 15px 30px;
}

.bottomInfo{
    padding: 30px;
}

button{
    padding: 7px 30px;
    color: white;
    background-color: rgb(33, 102, 33);
    border-radius: 5px;
    border: none;
    margin-bottom: 20px;
    box-shadow: 0 2px 2px rgb(150, 150, 150);
}

a{
    text-decoration: none;
    color: rgb(33, 102, 33);
}